*{padding: 0; margin: 0; box-sizing: border-box;}

:root {
   --background-color: #efefef;
}

body {
   width: 75vw;
   height: 100vh;

   margin: auto;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

label {
   padding-left: .3rem;
}

.col {
   margin: .6rem;
}

.date-col {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0 50%;
   transform: translate(-50%, 0);
}

.date {
   width: 15rem;
}

.form-control > input{
   padding: 0.5rem;
}

.button-placeholder {
   display: flex;
   justify-content: center;

   margin: 1.5rem 0 0 0;
}

.form {
   margin-bottom: 2rem;
}
