<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link href="http://fonts.cdnfonts.com/css/gotham" rel="stylesheet">

   <link rel="stylesheet" href="/css/bootstrap.css">
   <link rel="stylesheet" href="/CSS/style.css">

   <title>Table with node</title>
</head>
<body>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
   <script src="/js/bootstrap.js"></script>

   <!--=== Form ===-->
      <div class="form">

         <div class="row">
            <div class="col">
               <label for="abuzito">Abuzito</label><br>
               <input class="form-control form-control-lg" type="text" name="abuzito">
            </div>
         </div>

         <div class="row">
            <div class="col">
               <label for="abuzitoEmail">Email do Abuzito</label><br>
               <input class="form-control" type="email" name="abuzitoEmail" placeholder="example@abuzitos.com.br">
            </div>
            <div class="col">
               <label for="cargo">Cargo</label><br>
               <select class="form-select" name="cargo">
                  <option selected>Cargo do abuzito...</option>
                  <option value="1">Gestor</option>
                  <option value="2">PMO</option>
                  <option value="3">SM</option>
                  <option value="4">Estagiário</option>
               </select>
            </div>
         </div>

         <div class="row">
            <div class="col date-col">
               <label for="dataEntrada">Data de Entrada na Abu</label>
               <input class="form-control date" type="date" name="dataEntrada">
            </div>
         </div>

         <div class="button-placeholder">
               <button class="btn btn-outline-warning">Enviar</button>
         </div>
      </div>

   <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome do Abuzito</th>
          <th scope="col">Email do Abuzito</th>
          <th scope="col">Data de Entrada</th>
          <th scope="col">Cargo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Fernando Gabriel Porto de Azevedo</td>
          <td>fernando.porto@abuzitos.com.br	</td>
          <td>15/05/2022</td>
          <td>Estagiário</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jorge Ferla</td>
          <td>jorge.ferla@abuzitos.com.br	</td>
          <td>01/01/2019</td>
          <td>Gestor</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Mamadu Alfa Jalo</td>
          <td>mamadu.jalo@abuzitos.com.br	</td>
          <td>22/05/2022</td>
          <td>Estagiário</td>
        </tr>
        <tr>
         <th scope="row">4</th>
         <td>David Sudney</td>
         <td>david.sudney@abuzitos.com.br</td>
         <td>22/05/2022</td>
         <td>Estagiário</td>
        </tr>
      </tbody>
    </table>

</body>
</html>
