<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link href="http://fonts.cdnfonts.com/css/gotham" rel="stylesheet">

   <link rel="stylesheet" href="/CSS/style.css">

   <title>Table with node</title>
</head>
<body>
   <!-- <form action="" method="post" id="form">
      <label for="abuzito">Nome Abuzito</label>
      <input type="text" name="abuzito" id="abuzito">

      <label for="email">Email</label>
      <input type="email" name="email" id="email">

      <label for="dataEntrada">Data de Entrada</label>
      <input type="date" name="dataEntrada" id="date">
      <label for="dataEntrada">Data de Entrada na Abu</label>
      <input type="date" placeholder="YYYY-MM-DD" name="dataEntrada">

      <button type="submit" id="button">Cadastrar</button>
   </form> -->
   <table cellspacing="0">
      <tr>
         <th>Nome</th>
         <th>Email</th>
         <th>Data de nascimento</th>
      </tr>
      <tr class="hover">
         <td>Fernando Gabriel Porto de Azevedo</td>
         <td>feporto.a@gmail.com</td>
         <td>12/02/2000</td>
      </tr>

      <tr class="hover">
         <td>Jorge Creison</td>
         <td>jorge.creison22@hotmail.com</td>
         <td>01/01/2002</td>
      </tr>

      <tr class="hover">
         <td>Mamadu Pierre</td>
         <td>mampierre@gmail.com</td>
         <td>22/05/1993</td>
      </tr>

      <tr class="hover">
         <td>Janine Silva Santos</td>
         <td>janeloveangel@outlook.com</td>
         <td>22/05/2003</td>
      </tr>
   </table>
</body>
</html>
